{% extends 'base.html' %}
{%  load static %}

{% block title %}
Категория "{{ type_product }}"
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="row">
        {% for product in products_of_type %}
        <div class="col-md-6 mb-4">
            <div class="card" style="height: 100%;">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}"
                             style="max-height: 200px; object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <div class="row g-0">
                                <div class="col-sm-9 p-3">
                                    <a style="text-decoration: none; color: black"
                                       href="{% url 'detail_product' product.pk %}"><h3
                                            class="card-title">{{ product.name }}</h3></a>
                                </div>
                                <div class="col-3 p-3 mb-2">
                                    {% if request.user.is_authenticated %}
                                    {% if product.pk in in_favorite %}
                                    <a href="{% url 'remove_from_favorites' product.pk %}">
                                        <img src="{% static 'star_image/star_true.png' %}" alt="">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'add_to_favorites' product.pk %}">
                                        <img src="{% static 'star_image/star_false.png' %}" alt="">
                                    </a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <p class="card-text">{{ product.description }}</p>
                            <h4 class="mt-3">Цена: <strong>{{ product.price }}€</strong></h4>
                            <h6><strong>В наличии:</strong> {{ product.stock }} шт</h6>
                            <div class="d-grid gap-2 d-md-block">
                                <a href="{% url 'detail_product' product.pk %}">
                                    <button class="btn btn-info" type="button">Детально</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}